	body{
		margin:0px;
		background-color: #5C9EAD;
	}
	.btn{
		font-size:15px;
		background-color: #e7e7e7;
		color:black;
	}
	.topic{
	  top: 0px;
	  color: #EEEEEE;
	  font-size:38px;
	  font-style: oblique;
	  font-weight: bold;
	  background-color: #326273 ;
	  padding:12px;
	  text-align: center;
	}
	.formcontent{
	  padding: 80px 0px;
	  width:596px;
	  margin-left: auto;
	  margin-right: auto;
	}
	.predicted-result{
	  padding: 40px 0px;
	  width:600px;
	  margin-left: auto;
	  margin-right: auto;
	}
	.directive{
		margin:10px 2px;
		display:block;
		font-size:20px;
		font-weight:bold;
		color:black;
	}
	.table{
		text-align: left;
		border: 1px solid grey;
		margin:0px 0px;
		padding:10px;
		background-color:#fff;
	}
	.bartext{
		text-align: center;
		font-size: 18px;
		margin:0px 0px;
		padding:2px;
		background-color:#fff;
		width: 28%;
		display: inline-block;
	}
	.barspan{
		padding: 2px;
		float: right;
		width: 69%;
	}
	.bar{
		float: left;
		height:24px;
		background-color: lightskyblue;
		border: 0px;
		border-color: firebrick;
		margin: 0px;
		padding: 0px;

	}
	#mode{
		font-weight: bold; 
		margin: 5px 2px;
		font-size:18px;
	}
	#outputform form{
		font-weight: bold; 
		margin: 10px 5px 2px 2px; 
		font-size:18px;
	}
	#content{
		font-size:16px;
		text-align:left;
		color:black ;
		background-color:lightblue ;
		word-break: break-word;
		margin:10px 0px ; border: 1px solid black;
		border-radius: 3px; padding: 2px;
	}
	.wait{
		font-size: 65px;
		text-align: center;
		font-family: monospace, Courier, monospace;
		font-weight: bolder;
		padding: 130px; 
		text-shadow: azure;
	}

